body{
    background-color: lavenderblush; 
}
#principal{
    background-color:paleturquoise;
    padding: 15px;
}
.articulo {
    background-color:lightseagreen;  
    margin:15px;
}
#pie{
    text-align: center;
    color:blue ;
    border-style: solid;
    border-width: medium;
    border-color:dodgerblue;
}
